[program:horizon-ui]
command:/opt/horizon/.horizon_venv{{python.major_version}}.{{python.minor_version}}/bin/python /opt/horizon/manage.py runserver {{ansible_eth0.ipv4.address}}:80
priority=900
startsec=30
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root