---
  version: "3"

  services:

    horizon:
      build: .
      container_name: openstack_horizon
      networks:
        - openstack-management-net
      ports:
{% for port in openstack_services.glance.ports %}
        - "0.0.0.0:{{port}}"
{% endfor %}
      external_links:
        - openstack_memcached:openstack_memcached
        - openstack_keystone:openstack_keystone:
            ipv4_address: {{openstack_services.horizon.ipv4}}

      command: ["bash", "/opt/start.sh"]

  networks:
    openstack-management-net:
      external: true
