{
    "keystone_authtoken":
    {
        "auth_uri": "http://{{ ansible_eth0.ipv4.address }}:5000",
        "memcached_servers": "{{ ansible_eth0.ipv4.address }}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "glance",
        "password": "{{glance_password}}"
    },
    "paste_deploy":
    {
        "flavor": "keystone"
    },
    "database":
    {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://glance:{{glance_password}}@127.0.0.1/glance"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://glance:{{glance_password}}@127.0.0.1/glance"
{% endif %}
    },
    "glance_store":
    {
        "stores": "file,http",
        "default_store": "file",
        "filesystem_store_datadir": "/var/lib/glance/images/"
    }
}