[program:netbox]
command = /opt/netbox/.netbox_venv{{python.major_version}}.{{python.minor_version}}/bin/gunicorn -c /opt/netbox/src/gunicorn_config.py netbox.wsgi
directory = /opt/netbox/src/netbox/
user = root
priority=200
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true

[program:netbox-rqworker]
command = /opt/netbox/.netbox_venv{{python.major_version}}.{{python.minor_version}}/bin/python /opt/netbox/src/netbox/manage.py rqworker
directory = /opt/netbox/src/netbox/
user = root
priority=210
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true