[program:glance-api]
command:{{glance_python_env}}/bin/glance-api --log-file=/var/log/glance/glance-api.log
priority=200
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:glance-registry]
command:{{glance_python_env}}/bin/glance-registry --log-file=/var/log/glance/glance-registry.log
priority=210
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root