#!/bin/sh

source /root/adminrc


endpoint=`openstack endpoint list -f csv -q |grep glance`
if [ -z "$endpoint" ]
then
    echo "Creating public endpoint"
    openstack endpoint create --region RegionOne image public http://{{ansible_eth0.ipv4.address}}:9292

    echo "Creating internal endpoint"
    openstack endpoint create --region RegionOne image internal http://{{ansible_eth0.ipv4.address}}:9292

    echo "Creating admin endpoint"
    openstack endpoint create --region RegionOne image admin http://{{ansible_eth0.ipv4.address}}:9292
fi