#!/bin/sh

source /root/adminrc


if [ -z `openstack user list -f csv -q |grep glance` ]
then
    openstack user create --domain Default --password {{glance_password}} glance
fi

openstack role add --project service --user glance admin

if [ -z `openstack service list -f csv -q |grep glance` ]
then
    openstack service create --name glance --description "OpenStack Image" image
fi