[program:nova-compute]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-compute --log-file=/var/log/nova/nova-compute.log
priority=10
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root