[program:nova-api]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-api --log-file=/var/log/nova/nova-api.log
priority=300
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:nova-consoleauth]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-consoleauth --log-file=/var/log/nova/nova-consoleauth.log
priority=310
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:nova-scheduler]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-scheduler --log-file=/var/log/nova/nova-scheduler.log
priority=320
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:nova-conductor]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-conductor --log-file=/var/log/nova/nova-conductor.log
priority=330
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:nova-novncproxy]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-novncproxy --log-file=/var/log/nova/nova-novncproxy.log
priority=340
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:nova-placement-api]
command:/opt/nova/.nova_venv{{python.major_version}}.{{python.minor_version}}/bin/nova-placement-api --host {{ansible_eth0.ipv4.address}} --port 8778
priority=350
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root