#!/bin/sh

source /root/adminrc

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova_api.* TO 'nova'@'localhost' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova_api.* TO 'nova'@'%' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova.* TO 'nova'@'localhost' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova.* TO 'nova'@'%' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova_cell0.* TO 'nova'@'localhost' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON nova_cell0.* TO 'nova'@'%' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON placement.* TO 'nova'@'localhost' \
    IDENTIFIED BY '{{nova_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON placement.* TO 'nova'@'%' \
    IDENTIFIED BY '{{nova_password}}';"