{
    "api_database":
    {
{% if database == "mariadb" %}
        "connection": "mysql+pymysql://nova:{{openstack_services.nova.database_password}}@{{database_ipv4}}/nova_api"
{% elif database == "postgresql" %}
        "connection": "postgresql://nova:{{openstack_services.nova.database_password}}@{{database_ipv4}}/nova_api"
{% endif %}
    },
    "database":
    {
{% if database == "mariadb" %}
        "connection": "mysql+pymysql://nova:{{openstack_services.nova.database_password}}@{{database_ipv4}}/nova"
{% elif database == "postgresql" %}
        "connection": "postgresql://nova:{{openstack_services.nova.database_password}}@{{database_ipv4}}/nova"
{% endif %}
    },
    "DEFAULT":
    {
        "transport_url": "rabbit://{{rabbitmq_user}}:{{rabbitmq_password}}@{{rabbitmq_ipv4}}",
        "my_ip": "0.0.0.0",
        "use_neutron": "True",
        "firewall_driver": "nova.virt.firewall.NoopFirewallDriver"
    },
    "api":
    {
        "auth_strategy": "keystone"
    },
    "keystone_authtoken":
    {
        "auth_uri": "http://{{openstack_services.keystone.ipv4}}:5000",
        "auth_url": "http://{{openstack_services.keystone.ipv4}}:35357",
        "memcached_servers": "{{memcached_ipv4}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "{{openstack_services.nova.user_password}}"
    },
    "vnc":
    {
        "enabled": "True",
        "vncserver_listen": "0.0.0.0",
        "vncserver_proxyclient_address": "0.0.0.0"
    },
    "glance":
    {
        "api_servers": "http://{{openstack_services.glance.ipv4}}:9292"
    },
    "oslo_concurrency":
    {
        "lock_path": "/var/lib/nova/tmp"
    },
    "placement":
    {
        "os_region_name": "RegionOne",
        "project_domain_name": "Default",
        "project_name": "service",
        "auth_type": "password",
        "user_domain_name": "Default",
        "auth_url": "http://{{openstack_services.keystone.ipv4}}:35357/v3",
        "username": "placement",
        "password": "{{openstack_services.nova.user_password}}"
    },
    "neutron":
    {
        "auth_uri": "http://{{openstack_services.keystone.ipv4}}:5000",
        "auth_url": "http://{{openstack_services.keystone.ipv4}}:35357",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "region_name": "RegionOne",
        "project_name": "service",
        "username": "neutron",
        "password": "{{openstack_services.nova.user_password}}",
        "service_metadata_proxy": "true",
        "metadata_proxy_shared_secret": "{{openstack_services.nova.metadata_secret}}"
    },
    "cinder":
    {
        "os_region_name": "RegionOne"
    }
}