---
  version: "3"
  services:
    cinder:
      build: .
      container_name: openstack_cinder
      networks:
        - openstack-management-net:
            ipv4_address: {{openstack_services.cinder.cinder_ipv4}}
      ports:
{% for port in openstack_services.cinder.cinder_ports %}
        - "0.0.0.0:{{port}}:{{port}}"
{% endfor %}
      volumes:
        - cinder_log:/var/log/cinder
        - cinder_lib:/var/lib/cinder
        - openstack_volume_cinder:/etc/cinder
      command: ["bash", "/opt/start.sh"]

  volumes:
    openstack_volume_cinder:
      external: true
    cinder_log:
      driver: local
    cinder_lib:
      driver: local

  networks:
    openstack-management-net:
      external: true
