{
    "database":
    {
{% if database == "mariadb" %}
        "connection": "mysql+pymysql://neutron:{{openstack_services.neutron.database_password}}@{{database_ipv4}}/neutron"
{% elif database == "postgresql" %}
        "connection": "postgresql://neutron:{{openstack_services.neutron.database_password}}@{{database_ipv4}}/neutron"
{% endif %}
    },
    "DEFAULT":
    {
        "core_plugin": "ml2",
        "service_plugins": "",

        "transport_url": "rabbit://{{rabbitmq_user}}:{{rabbitmq_password}}@{{rabbitmq_ipv4}}",

        "auth_strategy": "keystone",

        "notify_nova_on_port_status_changes": "true",
        "notify_nova_on_port_data_changes": "true"
    },
    "keystone_authtoken":
    {
        "auth_uri": "http://{{openstack_services.keystone.ipv4}}:5000",
        "auth_url": "http://{{openstack_services.keystone.ipv4}}:35357",
        "memcached_servers": "{{memcached_ipv4}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "neutron",
        "password": "secret"
    },
    "nova":
    {
        "auth_uri": "http://{{openstack_services.keystone.ipv4}}:5000",
        "auth_url": "http://{{openstack_services.keystone.ipv4}}:35357",
        "memcached_servers": "{{memcached_ipv4}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "secret"
    },
    "oslo_concurrency":
    {
        "lock_path": "/var/lib/neutron/tmp"
    },
    "ml2":
    {
        "type_drivers": "flat,vlan",
        "tenant_network_types": "",
        "mechanism_drivers": "linuxbridge",
        "extension_drivers": "port_security"
    },
    "ml2_type_flat":
    {
        "flat_networks": "provider"
    },
    "securitygroup":
    {
        "enable_ipset": "true"
    }
}