{
    "linux_bridge": {
        "physical_interface_mappings": "provider:{{provider_interface_name}}"
    },
    "vxlan": {
        "enable_vxlan": "false"
    },
    "securitygroup": {
        "enable_security_group": "true",
        "firewall_driver": "neutron.agent.linux.iptables_firewall.IptablesFirewallDriver"
    }
}