[program:neutron-server]
command:/opt/neutron/.neutron_venv{{python.major_version}}.{{python.minor_version}}/bin/neutron-server --log-file=/var/log/neutron/neutron-server.log
priority=300
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:neutron-linuxbridge-agent]
command:/opt/neutron/.neutron_venv{{python.major_version}}.{{python.minor_version}}/bin/neutron-linuxbridge-agent --log-file=/var/log/neutron/neutron-linuxbridge-agent.log
priority=310
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:neutron-dhcp-agent]
command:/opt/neutron/.neutron_venv{{python.major_version}}.{{python.minor_version}}/bin/neutron-dhcp-agent --log-file=/var/log/neutron/neutron-dhcp-agent.log
priority=320
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root

[program:neutron-metadata-agent]
command:/opt/neutron/.neutron_venv{{python.major_version}}.{{python.minor_version}}/bin/neutron-metadata-agent --log-file=/var/log/neutron/neutron-metadata-agent.log
priority=330
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root