#!/bin/sh

source /root/adminrc

if [ -z `openstack user list -f csv -q |grep neutron` ]
then
    openstack user create --domain Default --password {{neutron_password}} neutron
fi

openstack role add --project service --user neutron admin


if [ -z `openstack service list -f csv -q |grep neutron` ]
then
    openstack service create --name neutron --description "OpenStack Networking" network
fi

endpoint=`openstack endpoint list -f csv -q |grep network`
if [ -z "$endpoint" ]
then
    echo "Creating public endpoint"
    openstack endpoint create --region RegionOne network public http://{{ansible_eth0.ipv4.address}}:9696

    echo "Creating internal endpoint"
    openstack endpoint create --region RegionOne network internal http://{{ansible_eth0.ipv4.address}}:9696

    echo "Creating admin endpoint"
    openstack endpoint create --region RegionOne network admin http://{{ansible_eth0.ipv4.address}}:9696
fi