{
    "DEFAULT": {
        "core_plugin": "ml2",
        "service_plugins": " ",
        "transport_url": "rabbit://openstack:{{rabbit_root_password}}@{{ansible_eth0.ipv4.address}}",
        "auth_strategy": "keystone",
        "notify_nova_on_port_status_changes": "true",
        "notify_nova_on_port_data_changes": "true",
        "local_ip": "None"
    },
    "database": {
{% if openstack_database == "mariadb" %}
        "connection": "mysql+pymysql://neutron:{{neutron_password}}@{{ansible_eth0.ipv4.address}}/neutron"
{% elif openstack_database == "postgresql" %}
        "connection": "postgresql://neutron:{{neutron_password}}@{{ansible_eth0.ipv4.address}}/neutron"
{% endif %}
    },
    "keystone_authtoken": {
        "www_authenticate_uri": "http://{{ ansible_eth0.ipv4.address }}:5000",
        "auth_url": "http://{{ ansible_eth0.ipv4.address }}:5000",
        "memcached_servers": "{{ansible_eth0.ipv4.address}}:11211",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "neutron",
        "password": "{{neutron_password}}"
    },
    "nova": {
        "auth_url": "http://{{ ansible_eth0.ipv4.address }}:5000",
        "auth_type": "password",
        "project_domain_name": "Default",
        "user_domain_name": "Default",
        "project_name": "service",
        "username": "nova",
        "password": "{{nova_password}}"
    },
    "oslo_concurrency": {
        "lock_path": "/var/lib/neutron/tmp"
    }
}