#!/bin/sh

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON neutron.* TO 'neutron'@'localhost' \
    IDENTIFIED BY '{{neutron_password}}';"

mysql -hlocalhost -uroot -p{{mariadb_root_password}} \
    "-e GRANT ALL PRIVILEGES ON neutron.* TO 'neutron'@'%' \
    IDENTIFIED BY '{{neutron_password}}';"
