export OS_USERNAME=admin
export OS_PASSWORD={{keystone_password}}
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_DOMAIN_ID=default
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_URL=http://{{ ansible_eth0.ipv4.address }}:5000/v3