[program:keystone]
command:{{keystone_python_env}}/bin/keystone-wsgi-admin --port 5000 --host {{ ansible_eth0.ipv4.address }}
priority=100
startsec=10
stderr_events_enabled=true
stdout_events_enabled=true
autostart=true
autorestart=true
user=root